bitsandbytes==0.45.0
peft==0.14.0
sentencepiece==0.2.0
torch-optimi==0.2.1
torchao==0.7.0
atomicwrites==1.4.1
git+https://github.com/huggingface/diffusers.git
git+https://github.com/huggingface/optimum-quanto.git
git+https://github.com/kohakublueleaf/lycoris.git@dev